/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content:"";
  clear:both;
  display:table;
}

html  {
  background-image: url(".../images/bgtile.jpg");
}

body {
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 5px solid steelblue;
    box-shadow: 5px 5px 8px grey;
}
h1 {
  font-size: 200%;
  margin-left: 15px;
  padding-top: 15px;
}
header  {
  border-bottom: 5px solid steelblue;
  background-image: linear-gradient(white, lightsteelblue);
}
header h2 {
    font-size: 250%;
    color: steelblue;
    font-style: italic;
    text-shadow: 2px 2px 15px steelblue;
    margin-top: 15px;
    margin-left: 30px;
}
header h3 {
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 15px;
}

header img  {
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}

/* Horizontal Menu Bar Style */
#nav_menu ul  {
  list-style: none;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 0;
  background-color: #afeeee;
}

#nav_menu ul li  {
  display: inline;
  padding: 5px 20px;
  border-right: 3px solid black;
  
}

#nav_menu ul li a   {
  text-decoration: none;
  font-weight: bold;
}


#nav_menu #last {
  border-right: 0;
}

#nav_menu ul li a:hover {
  color: red;
}

/* Vertical Navigation List */
#nav_list ul  {
  list-style: none;
}

#nav_list ul li {
  border: 2px solid black;
  width: 90%;
}

#nav_list ul li a {
  display:block;
  font-weight: bold;
  text-decoration: none;
  background-color: steelblue;
  color: black;
  padding: .5em;
}

#nav_list ul li a:hover, #nav_list ul li a:focus {
  background-color: steelblue;
  color: white;

}


main  {
  clear: both;
}

section h2, section h3, aside h2 {
  font-size: 150%;
  margin-left: 15px;
}

section h2  {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

section p {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

section blockquote  {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 90%; 
  color: navy;
  border-left: 3px solid maroon;
  padding: 5px;
}

aside h2  {
  color:maroon;

}

ul  {
  margin-left: 80px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.homesection  {
  width: 65%;
  float: right;
  margin-right: 10px;
}

.sidebar  {
  float: left;
  width: 30%;
  padding-top: 40px;
}

/* links colors section */
/* unvisited link */
section a:link {
  color:maroon;
}

/* visited link */
section a:visited {
  color:maroon;
}

/* mouse over link */
section a:hover {
  color: steelblue;
}

/* selected link */
section a:active {
  color: steelblue;
}



/* link colors for aside */

/* unvisited link */
aside a:link {
  color:steelblue;
}

/* visited link */
aside a:visited {
  color:steelblue;
}

/* mouse over link */
aside a:hover {
  color: maroon;
}

/* selected link */
aside a:active {
  color: maroon;
}

aside a{
  font-weight: bold;
}

li  {
  margin-top: 5px;
}

footer  {
  background-color: steelblue;
  clear: both;
}

footer p  {
  font-size: 75%;
  text-align: center;
  color: white;
  padding: 25px;
  font-weight: bold;
  font-variant: small-caps;
  
}


